.header__lang-link {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  color: #fff;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.111;
  }
}