/Sprint 3_ Russia _ desktop + mobile.fig
/images/1280.png
/images/320.png
/images/1024.png
/images/768.png
/dev/second-project/styles/
/dev/second-project/styles/styles.scss
/dev/second-project/styles/styles.css
/dev/second-project/styles/styles.css.map