.cover__subtitle {
  position: relative;
  margin: 32px 0 0 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.222;
  font-weight: 400;
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 883px) {
  .cover__subtitle {
    font-size: 2.344vw;
  }
}

@media screen and (max-width: 450px) {
  .cover__subtitle {
    margin: 16px 0 0 0;
    max-width: 90%;
    font-size: 14px;
    line-height: 1.142;
  }
}