.lead__title {
  margin: 56px auto 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 883px) {
  .lead__title {
    font-size: 12.5vw;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 90%;
    margin: 48px auto 0;
    font-size: 40px;
    line-height: 1.1;
  }
}