.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}