.cover__overlay {
  width: 100%;
  text-decoration: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.cover__overlay:after{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .25s ease-in-out;
}

.cover__overlay:hover:after {
  opacity: .8;
}