.cover__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}

.cover__background:before {
  content: '';
  display: block;
  padding-bottom: 62.5%;
}