.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 450px) {
  .place__website {
    box-sizing: border-box;
    margin: 0 15px;
  }
}