@import url(../vendors/normalize.css);
@import url(../fonts/Inter_Web/inter.css);
.page {
  display: grid;
  grid-template-columns: minmax(min-content, 1184px);
  justify-content: center;
  font-family: "Inter", helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 100%;
  min-height: 100vh;
  background-color: #2A2C2F;
}

.header {
  margin: 28px 0 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1204px) {
  .header {
    margin: 28px 48px 0;
  }
}
@media screen and (max-width: 883px) {
  .header {
    margin: 28px 24px 0;
  }
}
@media screen and (max-width: 450px) {
  .header {
    min-width: 90%;
    margin: 16px 16px 0;
  }
}
.header__logo {
  object-fit: contain;
  max-width: 176px;
}

@media screen and (max-width: 450px) {
  .header__logo {
    max-width: 142px;
  }
}
.header__lang {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 450px) {
  .header__lang {
    margin-bottom: 8px;
  }
}
.header__lang-link {
  padding: 0 1.125rem 0 0;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  color: #fff;
}
.header__lang-link:last-child {
  padding-right: 0;
}
.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.111;
  }
}
.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: grid;
  grid-template-columns: minmax(auto, 83.33%);
  justify-content: center;
}

@media screen and (max-width: 1204px) {
  .lead {
    grid-template-columns: calc(100% - 48px*2);
    margin: auto;
  }
}
@media screen and (max-width: 883px) {
  .lead {
    grid-template-columns: 100%;
    margin: 0;
  }
}
.lead__title {
  margin: 56px auto 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 883px) {
  .lead__title {
    font-size: 12.5vw;
    max-width: 93.75%;
  }
}
@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 90%;
    margin: 48px auto 0;
    font-size: 40px;
    line-height: 1.1;
  }
}
.lead__subtitle {
  margin: 32px auto 0 auto;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  word-break: break-word;
}

@media screen and (max-width: 883px) {
  .lead__subtitle {
    font-size: 3.906vw;
    max-width: 83.33%;
  }
}
@media screen and (max-width: 450px) {
  .lead__subtitle {
    max-width: 90%;
    font-size: 16px;
    line-height: 1.25;
  }
}
.lead__image-wrapper {
  margin: 64px 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1204px) {
  .lead__image-wrapper {
    margin: 56px 0 0 0;
  }
}
@media screen and (max-width: 450px) {
  .lead__image-wrapper {
    margin: 16px 0 0 0;
  }
}
.lead__image {
  display: flex;
  max-width: 100%;
  object-fit: cover;
}

.lead__image-overlay {
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.lead__caption {
  margin: 8px 0 0 0;
  justify-self: start;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .lead__caption {
    letter-spacing: 0.15em;
  }
}
.intro {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 690px);
  justify-content: start;
  margin: 0 auto;
  padding: 92px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1204px) {
  .intro {
    margin: 0 48px;
    padding: 92px 0;
  }
}
@media screen and (max-width: 883px) {
  .intro {
    margin: 0 24px;
    padding: 88px 0;
  }
}
@media screen and (max-width: 450px) {
  .intro {
    max-width: 90%;
    margin: 0 auto;
    padding: 64px 0;
    box-sizing: border-box;
  }
}
.intro__title {
  margin: 0;
  max-width: 100%;
  font-size: 54px;
  line-height: 1.074;
  font-weight: 900;
}

@media screen and (max-width: 883px) {
  .intro__title {
    font-size: 7.031vw;
  }
}
@media screen and (max-width: 450px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.093;
  }
}
.intro__text {
  margin: 40px 0 0 0;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
}

@media screen and (max-width: 883px) {
  .intro__text {
    font-size: 2.083vw;
  }
}
@media screen and (max-width: 450px) {
  .intro__text {
    font-size: 16px;
    line-height: 1.63;
  }
}
.intro__list {
  margin: 32px 0 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  list-style: none;
}

.photo-grid {
  display: grid;
  max-width: 100%;
  min-width: 288px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media screen and (max-width: 1204px) {
  .photo-grid {
    margin: 0 48px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 883px) {
  .photo-grid {
    margin: 0 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .photo-grid {
    margin: 0;
    grid-template-columns: 90%;
    justify-content: center;
  }
}
.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
}

.places {
  margin: 0;
  padding: 92px 0;
  display: grid;
  grid-template-columns: minmax(min-content, 984px);
  justify-content: center;
  grid-gap: 80px;
}

@media screen and (max-width: 1204px) {
  .places {
    margin: 48px;
    padding: 92px 0;
  }
}
@media screen and (max-width: 883px) {
  .places {
    margin: 0;
    padding: 88px 0;
    grid-gap: 72px;
  }
}
@media screen and (max-width: 450px) {
  .places {
    padding: 64px 0;
    grid-gap: 40px;
  }
}
.place {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1204px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}
@media screen and (max-width: 883px) {
  .place {
    margin: 0 24px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6.25vw 3.646vw;
  }
}
@media screen and (max-width: 450px) {
  .place {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    justify-content: center;
  }
}
.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.055;
  font-weight: 900;
}

@media screen and (max-width: 883px) {
  .place__title {
    font-size: 5.469vw;
    line-height: 1.095;
  }
}
@media screen and (max-width: 450px) {
  .place__title {
    max-width: 90%;
    font-size: 32px;
    line-height: 1;
    box-sizing: border-box;
    margin: 0 15px;
  }
}
.place__image {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 450px) {
  .place__website {
    box-sizing: border-box;
    margin: 0 15px;
  }
}
.website__url-heading {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
}

.website__link {
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 1.222;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
  transition: opacity 0.25s ease-in-out;
}
.website__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .place__paragraphs {
    box-sizing: border-box;
    margin: 0 15px;
  }
}
.place__paragraph {
  margin: 0 0 24px 0;
  font-size: 18px;
  line-height: 1.611;
  font-weight: 400;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  position: relative;
}

.cover__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.25s ease-in-out;
}
.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
  margin: 0;
  max-width: 560px;
  font-size: 72px;
  line-height: 1.055;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 883px) {
  .cover__title {
    font-size: 9.375vw;
  }
}
@media screen and (max-width: 450px) {
  .cover__title {
    max-width: 90%;
    font-size: 32px;
    line-height: 1.093;
  }
}
.cover__subtitle {
  margin: 32px 0 0 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 1.222;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 883px) {
  .cover__subtitle {
    font-size: 2.344vw;
  }
}
@media screen and (max-width: 450px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 14px;
    line-height: 1.142;
  }
}
.cover__background {
  max-width: 100%;
}

.footer {
  margin: 92px 0 24px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1204px) {
  .footer {
    margin: 92px 48px 24px;
  }
}
@media screen and (max-width: 883px) {
  .footer {
    margin: 88px 24px 24px;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    margin: 64px 16px 24px;
  }
}
.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}
.footer__link {
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.25s ease-in-out;
  margin-right: 18px;
}
.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
